#audio {
	text-align: center;
	position: fixed;
	background-color: white;
	opacity: 0.8;
	border-radius: 0px 0px 0px 30px;
	padding: 0.4em 1em;

	-moz-transition: all 500ms;
	-o-transition: all 500ms;
	-webkit-transition: all 500ms;
	transition: all 500ms;
}

#audio input {
	vertical-align: middle;
}

#audio #controls {
	margin: 0.4em 0em;
	font-size: 150%;
}

#audio #controls span {
	cursor: pointer;
	margin: 1em;
	color: #555;
}

#audio #controls span:hover {
	color: #000;
}

#audio #note {
	position: absolute;
	left: 9px;
	bottom: 5px;
	font-size: 150%;
}
